* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    max-width: 100%;
}

.main_page {
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
}

header {
    width: auto;
    height: 80px;
    padding: 0 100px;
    background-color: #EAE9DC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    overflow: hidden;
    z-index: 999;
}

.logo {
    width: 145px;
    height: 100px;
    padding: 15px 0 5px;
    background-color: #EAE9DC;
}

.lg {
    font-family: 'Espa';
    font-size: 40px;
    line-height: 33px;
    color: #CF2037;
}

.logo a {
    text-decoration: none;
    font-family: 'Espa';
    font-size: 40px;
    line-height: 33px;
    color: #CF2037;
}

.header_ol {
    width: 600px;
    height: 50px;
    background-color: #EAE9DC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 100px;
}

.header_li {
    width: 130px;
    height: 50px;
    background-color: #EAE9DC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_li a {
    text-decoration: none;
    font-size: 33px;
    color: #CF2037;
    font-family: 'Circe Regular';
    font-weight: bold;
    padding-top: 8px;
    display: inline-block;
    position: relative;
}

.header_li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    transition: width 0s ease, background .35s ease;
}

.header_li a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background: #CF2037;
    transition: width .35s ease;
}

.header_li a:hover:before {
    width: 100%;
    background: #CF2037;
    transition: width .35s ease;
}

.header_li a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}


/*
.main1 {
    width: auto;
    height: 550px;
    margin: 50px 0;
    padding: 0 90px 0 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
}
*/

.main1 {
    width: auto;
    height: 550px;
    margin: 50px 0 72px;
    padding: 0 90px 0 47px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_info {
    width: 400px;
    height: 300px;
    /*   background-color: darkorange;*/
    /*    overflow: hidden;*/
    font-family: 'Circe Regular';
    background-size: cover;
    background-repeat: no-repeat;
    top: -70px;
    left: 0px;
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
}

.main_photo {
    width: 670px;
    height: 475px;
    align-self: flex-end;
    justify-self: flex-end;
    top: 0px;
    left: 0px;
}

.main_photo img {
    width: 670px;
    height: 548px;
}

.main_info img {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.main_info p {
    color: #861D59;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    width: 310px;
    margin: 38px 55px 0;
    text-align: center;
}

.page1 {
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 160px 0;
}

.gallery {
    width: 873px;
    height: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 4fr;
    grid-template-rows: 3fr 1fr 3fr 5fr;
    grid-gap: 12px;
}

.img-fluid {
    max-width: 100%;
}

.gallery a {
    display: block;
}

.gallery a:hover img {
    transform: scale(1.15, 1.15);
}

.gallery a img {
    transition: all 0.25s ease-in-out;
}

.gl {
    border: 3px solid #e8c81b;
    overflow: hidden;
}

.gl1 {
    background-color: white;
}

.gl1 img {
    width: 250px;
    margin: 10px 0;
}

.gl2 {
    background-color: #c1c2c2;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gl2 img {
    width: 260px;
    margin: 22px 0;
}

.gl3 {
    background-color: black;
}

.gl3 img {
    width: 437px;
    margin: -15px -14px;
    margin: 5px 0px;
}

.gl4 {
    background-color: #c1c2c2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.gl4 img {
    width: 250px;
    margin: 25px 0;
}

.gl5 {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
}

.gl5 img {
/*    width: 365px;*/
    margin: 40px 0;
}

.gl6 {
    background-color: #020000;
    grid-row-start: 2;
    grid-row-end: 4;
}

.gl6 img {
    width: 334px;
}

.gl7 {
    background-color: #ab834a;
    grid-column-start: 1;
    grid-column-end: 3;
}

/*
.gl7 img {
    width: 346px;
    margin: 10px -5px;
}
*/

.gl8 {
    background-color: #dadad2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.gl8 img {
    width: 513px;
    margin: -55px 0;
}

.page2 {
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    /*    background-color: bisque;*/
}

.ab {
    width: 872px;
    height: 395px;
    margin: 167px 136px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 4fr 1fr 3fr;
    grid-template-rows: 6fr 1fr 2fr 1fr;
}

.about_photo img {
    width: 326px;
}

.about_photo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.about_info {
    /*
    width: 400px;
    height: 300px;
*/
    background-color: darkorange;
    overflow: hidden;
    font-family: 'Circe Regular';
    font-size: 23px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.page3 {
    width: 95%;
    padding: 100px 0;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    /*    background-color: bisque;*/
}

.page3 h1 {
    margin: 20px 0 30px;
    color: #861D59;
    font-family: 'Circe Regular';
    text-align: center;
    font-size: 38px;
}

.ph {
    width: 872px;
    height: 395px;
    margin: 167px 136px;
    border: 1px solid black;
    display: grid;
}

.page4 {
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    /*    background-color: bisque;*/
}

.con {
    width: 872px;
    height: 395px;
    margin: 167px 136px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 6fr 2fr 1fr 5fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
}

.cont {
    color: #861D59;
    font-family: Circe;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

#behance {
    color: #861D59;
    width: 100px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 50px;
    height: 78px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#mail {
    color: #861D59;
    width: 100px;
    padding: 10px;
    font-size: 50px;
    height: 78px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#inst {
    width: 100px;
    padding: 3px 12px;
    font-size: 50px;
    height: 78px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #861D59;
}

#facebook {
    width: 100px;
    padding: 20px;
    padding-top: 0px;
    font-size: 50px;
    height: 78px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    color: #861D59;
}

.contacts_image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
}

.contacts_image img {
    width: 370px;
}

.contacts_general {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}

.behance {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
}

.email {
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram {
    grid-row-start: 4;
    grid-row-end: 5;
}

.facebook {
    grid-row-start: 5;
    grid-row-end: 6;
}